.container{
    /* overflow-y: scroll; */
    min-height: 230vh;
    margin: 8% 0;
    display: grid;
    grid-gap: 15px;
    grid-template-columns: 5% 71% 21%;
    grid-template-areas: 
    "lado-a lado-b lado-c"
    "lado-a lado-b lado-c"
    "lado-a lado-b lado-c"
    ;
}
.lado-a{
    grid-area: lado-a;
}
.lado-b{
    grid-area: lado-b;
}
.lado-c{
    grid-area: lado-c;
}